* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

/* Float four columns side by side */
.column {
  float: left;
  width: 33.3%;
  padding: 0 10px;
}

/* Remove extra left and right margins, due to padding */
.row {
  margin: 0 -5px;
  padding: 20px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive columns */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

/* Style the counter cards */
.card {
  padding: 80px;
  text-align: center;
  background-color: #fff;
  border: none;
}

.card-title {
  text-align: center;
  margin-top: 100px;
  margin-bottom: 20px;
}

.card-img {
	width: 100px;
	height: 100px;
}

.btn {
  position: relative;
  display: block;
  margin: 30px auto;
  padding: 0;
  overflow: hidden;
  border-width: 0;
  outline: none;
  border-radius: 2px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, .6);
  background-color: #006838;
  color: #ecf0f1;
  transition: background-color .3s;
  margin-top: 60px;
  border-radius: 50px;
}

.btn:hover, .btn:focus {
  background-color: #009444;
}

.btn > * {
  position: relative;
}

.btn span {
  display: block;
  padding: 12px 24px;
}

.btn:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%; 
  display: block;
  width: 0;
  padding-top: 0;
  border-radius: 100%;
  background-color: rgba(236, 240, 241, .3);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.btn:active:before {
  width: 120%;
  padding-top: 120%;
  transition: width .2s ease-out, padding-top .2s ease-out;
}

/*Partners section*/
/* Float four columns side by side */
.colum {
  float: left;
  width: 25%;
  padding: 0 10px;
}

/* Remove extra left and right margins, due to padding */
.ro {margin: 0 -5px;}

/* Clear floats after the columns */
.ro:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive columns */
@media screen and (max-width: 600px) {
  .colum {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

/* Style the counter cards */
.car {
  padding: 16px;
  text-align: center;
}

.partners-logo {
	width: 80px;
	height: 80px;
}

.btnn {
  position: relative;
  display: block;
  margin: 30px auto;
  padding: 0;
  overflow: hidden;
  border-width: 0;
  outline: none;
  border-radius: 50px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, .6);
  background-color: #006838;
  color: #ecf0f1;
  transition: background-color .3s;
  margin-top: 60px;
  width: 40%;
  height: 50px;
}

.partners-section {
  margin-bottom: 20px;
}